<table>
  <thead>
    <tr>
      <th>Package Name</th>
      <th>ID</th>
      <th>Version</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pkg of packages">
      <td>{{ pkg.Name }}</td>
      <td>{{ pkg.ID }}</td>
      <td>{{ pkg.Version }}</td>
      <td>
        <button (click)="selectedPackageId = pkg.ID">View Metrics</button>
        <button (click)="selectedCostId = pkg.ID">View Cost</button>
        <button (click)="downloadPackage(pkg)">Download</button>
      </td>
    </tr>
  </tbody>
</table>

<app-metrics 
  *ngIf="selectedPackageId" 
  [packageId]="selectedPackageId">
</app-metrics>

<app-package-cost 
  *ngIf="selectedCostId" 
  [packageId]="selectedCostId">
</app-package-cost>